# Note: Please don't add new registries here.
# Instead go add them as upstream sources for this registry:
registry=https://microsoft.pkgs.visualstudio.com/Store.Web/_packaging/Portal.Orders/npm/registry/        
always-auth=true